# This is the updated deploy-analytics.yml content
# ... (other lines of the file) 

# Update line 46
pip install -e ".[test]"
# ... (other lines of the file) 

# Update line 117
pip install -e ".[test]"
# ... (other lines of the file) 

# Update line 161
pip install -e ".[test]"
# ... (rest of the file)